hyfi
numpy
tqdm
pandas
chardet
rehash
scipy
# scikit-learn>=1.0.0
pytablewriter>=0.64.0
ftfy
requests>=2.0,<3.0
rich>=11.1
filelock>=3.4
dataclasses; python_version<"3.7"
accelerate
transformers
huggingface-hub>=0.8.1
ipython-autotime
